<div class="card text-center">
    <div class="card-header">
      Araba Detay Sayfası
    </div>

    <div class="card-body" *ngFor="let carDetail of carDetails">
        <div >
            <img id="img" *ngIf="!carDetail.carImage || carDetail.carImage.length === 0" [src]="getDefaultCarImage()" class="card-img-top">
            <img *ngFor="let carImage of carDetail.carImage" id="img" [src]="getCarImage(carImage.imagePath)" class="card-img-top" alt="...">
        </div>

        <div class="ozellikler">
          <h5 class="card-title"><b>{{carDetail.carName}}</b></h5>
          <p class="card-text"><b>Marka Adı:</b>{{carDetail.brandName}}</p>
          <p class="card-text"><b>Renk Adı:</b>{{carDetail.colorName}}</p>
          <p class="card-text"><b>Günlük Fiyat:</b>{{carDetail.dailyPrice}}</p>
          <p class="card-text"><b>Açıklama:</b>{{carDetail.description}}</p>
          <div class="form-group">
            <label for="rentDate">Teslim alma tarihi:</label>
            <input
              type="date"
              class="form-control"
              [(ngModel)]="rentDate"
              name="rentDate"
            />
          </div>
          <div class="form-group">
            <label for="returnDate">Teslim etme tarihi:</label>
            <input
              type="date"
              class="form-control"
              [(ngModel)]="returnDate"
              name="returnDate"
            />
          </div>
          <button
          type="button"
          class="btn btn-success">
          Aracı Kirala
        </button>
        </div>

    </div>
  
    <div class="card-footer text-body-secondary">
      footer
    </div>
  </div>